<!DOCTYPE html>
{%load static%}
<html>
<head>
    <meta charset="utf-8">
    <title> My Front Page with injected CSS and DB Query </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron">

<h2>This home page calls static %static 'hello_world/fish1.jpg' % inside img tag src, css for h2 injected through
    Django - I'm currently in a Bootstrap Jumbotron div</h2>
    </div>
</div>

<div class="djangotwo">
    {%if access_records%}
    <table>
        <thead>
        <th bgcolor="red">Site Name</th>
        <th>Date Accessed</th>
        </thead>

        {%for acc in access_records%}
        <tr>
            <td>{{acc.name}}</td>
            <td>{{acc.date}}</td>
        </tr>
        {% endfor %}
    </table>
    {%else%}
        <p>NO ACCESS RECORDS FOUND</p>
    {%endif%}
</div>

<img src="{%static 'hello_world/images/fish2.jpg' %}" alt="Uh Oh, didn't show!">
<img src="{%static 'hello_world/images/fish4.jpg' %}" alt="Uh Oh, didn't show!">
</body>
</html>