<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Organyze Template</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3d616182f3.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- wrapper start-->
    <div class="wrapper">
        <!-- wrapper end-->

        <input type="checkbox" id="check">

        <!--header area-->
        <header>
            <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
            <div class="left_area">
                <h3>Organyze</h3>
            </div>
            <div class="right_area">
                <a href="#" class="logout_btn">Logout</a>
            </div>
            <label for="check">
            <a href="#"><i class="fas fa-bell" id="notification_btn"></i></a>
            <a href="#"><i class="fas fa-search" id="search_btn"></i></a>
        </label>


        </header>
        <!--header area ends-->
        S
        <!--sidebar starts-->

        <div class="sidebar">
            <div style="text-align: center">
                <img src="profile.png" class="profile_image" alt="Uh oh">
                <h4>John Gammon</h4>
            </div>


            <a href="#"><i class="far fa-lightbulb"></i><span>Today</span></a>
            <a href="#"><i class="fas fa-cloud"></i><span>Tomorrow</span></a>
            <a href="#"><i class="far fa-calendar-alt"></i><span>Upcoming</span></a>
            <a href="#"><i class="fas fa-clipboard-list"></i><span>Long Term</span></a>
            <div class="contactinfo">
                <a href="#"><i class="fas fa-info-circle"></i><span>Info</span></a>
                <a href="#"><i class="fas fa-address-book"></i><span>Contact</span></a>
                <a href="#"><i class="fas fa-question-circle"></i><span>Help</span></a>
            </div>


        </div>

        <!-- sidebar ends here-->

        <div class="content">

        </div>
        <div class="Main Content">
            <div class="Header"></div>
            <div class="info">
                <div></div>
            </div>


        </div>





    </div>

    </div>
    </div>


</body>

</html>